@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  button {
    padding: 10px 20px;
    background-color: #f04e23; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 1rem; /* Tamaño de fuente */
    margin-top: 20px; /* Espaciado superior */
}

button:hover {
    background-color: #d0431f; /* Color de fondo al pasar el ratón */
}
